scrape-all-deploy/compose/**/data
scrape-all-deploy/compose/**/.env
scrape-all-deploy/compose/**/env
scrape-all-deploy/compose/**/conf

scrape-all-deploy/compose/**/ssl/kafka/*
!scrape-all-deploy/compose/**/ssl/kafka/generate_certs.sh
!scrape-all-deploy/compose/**/ssl/kafka/creds
!scrape-all-deploy/compose/**/ssl/kafka/san.cnf

scrape-all-deploy/compose/**/ssl/clickhouse/*
!scrape-all-deploy/compose/**/ssl/clickhouse/generate_certs.sh

scrape-all-deploy/compose/**/ssl/conductor
scrape-all-deploy/compose/**/tls/temporal/*
scrape-all-deploy/compose/**/up-service.json
scrape-all-deploy/compose/**/ssl/kafka/truststore/ca-key

venv/
